.review {
  height: 90vh; 
  background-image:linear-gradient(
    to right bottom ,
    rgba($color-header,0.2), 
    rgba($color-header, 0.2)), 
    url(../images/review.jpg);
  background-size: cover;
  background-position: top;
  background-size: cover;
  margin-bottom: 15rem;
  position: relative;
  overflow: hidden;
 
}

.review-headcenter {
  font-size: 3.5rem;
  text-transform: uppercase;
  display: block;
  padding: 4rem 0rem;
  font-weight: 250;
  letter-spacing: 1.7rem;
}

.row2 {
  margin-top: -6rem;
  
}

.story {
  width: 80%;
  margin: 0 auto;
  border-radius: 3px;
  padding-bottom: 4rem;
  padding-right: 6rem;
  padding-top: 6rem;
  padding-left: 9rem;
  color: #f5f5f5;
  font-size: 1.6rem;

  &__shape {
    width: 15rem;
    height: 15rem;
    background-image: url(../images/user1.jpg);
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem);
  }

  &__text {
    letter-spacing: 0.2rem;

    &--Owner {
      font-weight: 400; 
    }
  }
} 

.lastClone{
  display: flex;
  overflow: hidden;
}