body {
  font-family: 'Lato','Atlas Grotesk Web',sans-serif;
  font-weight: 400;
  //background-color: $color-grey; 
  line-height: 1.7;
  color:$color-grey;
  padding: 0.2rem;

}

.copywrite{  
  padding: 2rem 0;
  font-size: 2.5rem;
  display: block;
  text-align: center;
  letter-spacing: .6rem;
  margin-top: 3rem; 
  color:  #616161;
}