.section-about{
  background-color: #FFFFFF;
  padding-top: 25rem;
  padding-right: 0px;
  padding-bottom: 12rem;
  padding-left: 0px;
  margin-top: -25rem;
  overflow: hidden;
}

.section-video{
  background-color:  #FFFFFF;
  padding-top: 25rem;
  padding-right: 0px; 
  padding-bottom: 5rem;
  padding-left: 0px;
  margin-top: -23rem;
  margin-bottom: 5rem; 
}

.section-tour{ 
  background-color: #eaeaea; 
  padding-top: 25rem;
  padding-right: 0px;
  padding-bottom: 12rem;
  padding-left: 12rem; 
  margin-top: -25rem;
  overflow: hidden;
}